.admin .row{
    margin-left:0;
}

.admin .col-lg-6{
    float:left;
    width:50%;
}

.paper-config{
    float:left;
    width:56%;
    margin-left:50px;
}

.paper-config .row{
    margin:10px 15px;
}

.paper-config .row label{
    font-weight: bold;
}

.paper-config .btn{
    margin-left: 15px;
    padding: 3px 19px;
    vertical-align: top;
    float:right;
}

.paper-config .section{
    border: #F1F2F7 1px solid;
    margin-bottom: 22px;
}

.paper-config .section .head{
    background: none repeat scroll 0% 0% rgb(242, 243, 244);
    -webkit-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    color: #8ec657;
    line-height: 35px;
    height:35px;
}

.paper-config .section .head h5 {
    margin-top: 0;
    padding-left: 10px;
    margin-bottom: 0;
    float:left;
}


.form-control {
    display: block;
    width: 90%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: white;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
small, .small {
    font-size: 85%;
}


.paper-config .add-div input{
    float: left;
    width: 538px;
}

.paper-config .literature .span6{
    float:left;
}

.literature .add-div{
    float: right;
}
.literature .add-div input{
    width: 276px;
}

.paper-config .checkbox-group{
    display:block;
    margin-bottom:15px;
    border:#e2e2e2 solid 1px;
    padding:15px;
    min-height: 20px;
}

.paper-config .checkbox-group .checkbox,.paper-config .checkbox-group span{
    margin-right:18px;
    vertical-align: middle;
}

.paper-config .save-btn{
    float:right;
    display:inline-block;
    margin-right: 15px;
}

.paper-config .save-btn a{
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 13px;
    border-color: #8ec657;
    background-color: #F2F2F2;
    line-height: 0px;
}

.paper-config .save-btn a:hover,.paper-config .save-btn span:hover{
    background-color: #8ec657;
    color:#fff;
}


.paper-config .save-btn span{
    display: inline-block;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    border-style: solid;
    border-width: 1px;
    border-radius: 13px;
    padding: 0px 9px 0px 8px;
    border-color: rgb(255, 255, 255);
    color: #8ec657;
    cursor: pointer;
}
