.comments{
    margin-top:34px;
}

.doc-relate{
    float:left;
    width:54%
}

.comments .adv-table .dataTables_length,.comments .adv-table .dataTables_filter,.comments .adv-table .dataTables_info, .comments .dataTables_paginate{
    display: inline-block;
}

.comments .dataTables_filter, .comments .dataTables_paginate{
    margin-left: 100px;
}
.comments .dataTables_paginate a{
    margin-left: 10px;
}

.comments .adv-table .dataTables_filter label input {
    width:66%;
}

.comments .adv-table td{
    min-width: 20px;
}

.op .btn{
    margin-left:15px;
    padding: 3px 5px;
    float:left;
    font-size:12px;
}

.op .btn + .btn:not(.btn-block) {
    margin: 0 0 0 20px;
}
