.main-right{
    width: 77%;
    float: right;
}

.title{
    margin: 0px 0px 22px;
    font-weight: 600;
    color: rgb(124, 124, 124);
    line-height: 30px;
    font-size: 26px;
    border-bottom: 2px solid rgb(216, 216, 216);
}

/*advanced table*/

.adv-table table tr td {
    padding: 10px;
}

.adv-table table.display thead th {
    border-bottom: 1px solid #DDDDDD;
    padding: 10px;
}

tr.odd.gradeA td.sorting_1, tr.odd td.sorting_1, tr.even.gradeA td.sorting_1 {
    background: none;
}

td.details {
    background-color: #eee;
}

td.details table tr td, .dataTable tr:last-child {
    border: none;
}

.adv-table table.display tr.odd.gradeA {
    background-color: #F9F9F9;
}

.adv-table table.display tr.even.gradeA {
    background-color: #FFFFFF;
}

.adv-table .dataTables_filter label input {
    float: right;
    margin-left: 10px;
    width: 78%;
}

.adv-table .dataTables_filter label {
    line-height: 33px;
    width: 100%;
}

.adv-table .dataTables_length select {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 8px;
    width: 65px;
}

.adv-table .dataTables_info, .dataTables_paginate {
    padding: 15px;
}

.adv-table .dataTables_length,.adv-table .dataTables_filter {
    padding: 15px 0;
}

.cke_chrome {
    border: none !important;
}


.editable-table .dataTables_filter {
    width: 80%;
}

tr.odd.gradeX td.sorting_1, tr.even.gradeX td.sorting_1, table.display tr.even.gradeX, table.display tr.gradeX, tr.even.gradeU td.sorting_1, tr.even td.sorting_1, table.display tr.even.gradeC, table.display tr.gradeC, tr.odd.gradeC td.sorting_1, table.display tr.even.gradeU, table.display tr.gradeU, tr.odd.gradeU td.sorting_1{
    background: none !important;
}

.main-right .widget.widget-tabs-double-2 > .widget-head {
    height:40px;
}

.main-right .widget.widget-tabs-double-2 > .widget-head ul li a span {
    line-height: 40px;
}

.main-right .adv-table th{
    text-align:center;
}

.main-right .adv-table .dataTables_length,.main-right .adv-table .dataTables_filter,.main-right .adv-table .dataTables_info, .main-right .dataTables_paginate{
    display: inline-block;
}

.main-right .adv-table .dataTables_filter label input {
    width:66%;
}

.main-right .adv-table td{
    min-width: 20px;
    max-width:320px;
    overflow: hidden;
}

.main-right .dataTables_filter, .main-right .dataTables_paginate{
    float:right;
}
.main-right .dataTables_paginate a{
    margin-left: 10px;
}

.op .btn{
    margin-left:15px;
    padding: 3px 5px;
    float:left;
    font-size:12px;
}

.op .btn + .btn:not(.btn-block) {
    margin: 0 0 0 20px;
}

/**listLiterature**/
.list-self .op .btn{
    margin-left:40px;
}