<!doctype html>
<head>
    <meta charset="utf-8">
    <title>录入文献</title>
    <link rel="shotcut icon" href="/resources/favicon.ico">
    <link rel="stylesheet" media="screen" href="../resources/css/sidebar.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/global.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/header.css"></link>

    <!-- Bootstrap -->
    <link href="../resources/common/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/css/responsive.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap-responsive.min.css" rel="stylesheet">

   <!-- JQueryUI -->
    <link href="../resources/common/theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
    <!-- Main Theme Stylesheet :: CSS -->
    <link href="../resources/common/theme/css/style-light.css?1369753442" rel="stylesheet" />
    <link rel="stylesheet" media="screen" href="../resources/css/addLiterature.css"></link>

</head>
<body>
    #include("header.vm")
<div class="container0 clearfix">
    <ul class="menu">
        <li><a class="group" href="/index.html"><i></i><span>小组状态</span></a></li>
        <li><a class="search" href="/searchLiterature.html"><i></i><span>文献查询</span></a></li>
        <li class="active"><a class="add" href="/addLiterature.html"><i></i><span>文献录入</span></a></li>
        <li><a class="modify" href="/listLiterature.html"><i></i><span>文献修改</span></a></li>
        <li><a class="info" href="/profile.html"><i></i><span>个人信息</span></a></li>
    </ul>
    <div class="add_right">
        <div class="title">录入文献</div>
        <div class="main">
            <form method="POST" action="/doAddLiterature" enctype="multipart/form-data" >
                <div>
                    <label>文献类别</label>
                    <select class="selectpicker span6" name="literaturetypeidS" data-style="btn-default" style="display: none;" id="select" onchange="showAttribute()">
                        #set($foo=0)
                        #foreach($type in $typeList)
                            #set($foo=$foo+1)
                            <option value="type_$foo">$!{type.name}</option>
                        #end
                    </select>
                </div>
                <div>
                    <label>标题</label>
                    <input type="text" name="title" class="span12" id="title-title">
                </div>
                <div>
                    <label>作者</label>
                    <input type="text" name="author" placeholder="多个作者用‘;’隔开" class="span12">
                </div>
                <div>
                    <label>出版年份</label>
                    <input type="text" name="published_year" placeholder="比如1991" value="" />
                </div>
                <div>
                    <label>页码</label>
                    <input type="text" name="pages" class="span12">
                </div>
                <div>
                    <label>摘要</label>
                    <textarea cols="3" name="literature_abstract" rows="5"></textarea>
                </div>
                <div>
                    <label>关键字</label>
                    <input type="text" name="key_words" placeholder="多个关键字用‘;’隔开" class="span12">
                </div>
                <div>
                    <label>出版社</label>
                    <input type="text" name="publisher_name" class="span12">
                </div>
                <div>
                    <label>文献在线链接</label>
                    <input type="text" name="link" class="span12">
                </div>
                <div>
                    #set($foo=0)
                    #foreach($typeAttribute in $typeAttributeList)
                        #set($foo=$foo+1)
                        <div id="type_$foo"
                            #if($foo==1)
                             style="display:block"
                            #else
                             style="display: none"
                            #end>
                            #set($num=0)
                            #foreach($attribute in $typeAttribute)
                                #set($num=$num+1)
                                #if($attribute.ismust==1)
                                <div>
                                    <label>${attribute.attribute.name}</label>
                                    <input type="text" name="${attribute.literaturetypeid}_attributeValue$num" />
                                    <input type="hidden" name="${attribute.literaturetypeid}_attributeId$num" value="$attribute.attribute.id">
                                    <input type="hidden" name="${attribute.literaturetypeid}_attributeName$num" value="$attribute.attribute.name">
                                </div>
                                #end
                            #end
                        </div>
                    #end
                </div>
                <div>
                    <label>论文附件</label>
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="input-append">
                            <div class="uneditable-input span3" style="display: inline-table;">
                                <i class="icon-file fileupload-exists"></i>
                                <span class="fileupload-preview"></span>
                            </div>
                            <span class="btn btn-default btn-file">
                                <span class="fileupload-new">选择文件</span>
                                <span class="fileupload-exists">修改</span>
                                <input type="file" name="fileAttachment"/>
                            </span>
                            <a href="javascript:;" class="btn fileupload-exists" data-dismiss="fileupload">删除</a>
                        </div>
                    </div>
                </div>
                <div>
                    <label>其他附件</label>
                    <button class="btn btn-block" id="add-attachment" type="button" style="display: inline-block;font-weight: normal;">添加附件</button>
                </div>
                <div class="fileupload fileupload-new" id="fileupload-type1" data-provides="fileupload" style="display:none">
                    <div class="input-append">
                        <div class="uneditable-input span3" style="display: inline-table;">
                            <i class="icon-file fileupload-exists"></i>
                            <span class="fileupload-preview"></span>
                        </div>
                        <span class="btn btn-default btn-file">
                            <span class="fileupload-new">选择文件</span>
                            <span class="fileupload-exists">修改</span>
                            <input type="file" name="otherAttachment1"/>
                        </span>
                        <a href="javascript:;" class="btn fake-delete" data-dismiss="fileupload">删除</a>
                    </div>
                </div>
                <div class="fileupload fileupload-new" data-provides="fileupload" id="fileupload-type2" style="display:none">
                    <div class="input-append">
                        <div class="uneditable-input span3" style="display: inline-table;">
                            <i class="icon-file fileupload-exists"></i>
                            <span class="fileupload-preview"></span>
                        </div>
                        <span class="btn btn-default btn-file">
                            <span class="fileupload-new">选择文件</span>
                            <span class="fileupload-exists">修改</span>
                            <input type="file" name="otherAttachment2"/>
                        </span>
                        <a href="javascript:;" class="btn fake-delete" data-dismiss="fileupload">删除</a>
                    </div>
                </div>
                <div class="fileupload fileupload-new" data-provides="fileupload" id="fileupload-type3" style="display:none">
                    <div class="input-append">
                        <div class="uneditable-input span3" style="display: inline-table;">
                            <i class="icon-file fileupload-exists"></i>
                            <span class="fileupload-preview"></span>
                        </div>
                        <span class="btn btn-default btn-file">
                            <span class="fileupload-new">选择文件</span>
                            <span class="fileupload-exists">修改</span>
                            <input type="file" name="otherAttachment3"/>
                        </span>
                        <a href="javascript:;" class="btn fake-delete" data-dismiss="fileupload">删除</a>
                    </div>
                </div>
                <div class="fileupload fileupload-new" data-provides="fileupload" style="display:none" id="fileupload-type4">
                    <div class="input-append">
                        <div class="uneditable-input span3" style="display: inline-table;">
                            <i class="icon-file fileupload-exists"></i>
                            <span class="fileupload-preview"></span>
                        </div>
                        <span class="btn btn-default btn-file">
                            <span class="fileupload-new">选择文件</span>
                            <span class="fileupload-exists">修改</span>
                            <input type="file" name="otherAttachment4"/>
                        </span>
                        <a href="javascript:;" class="btn fake-delete" data-dismiss="fileupload">删除</a>
                    </div>
                </div>
                <div class="submit">
                    <button class="btn btn-block btn-primary" type="submit" style="display: inline-block;margin-left: 105px;">录入文献</button>
                    <button class="btn btn-block btn-primary" style="display: inline-block;margin-left: 50px;">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="widget" id="widget" style="display: none;position: absolute;z-index: 1002;left: 400px;top: 300px;">
    <!-- Widget heading -->
    <div class="widget-head">
        <h4 class="heading">上传成功</h4>
    </div>
    <!-- // Widget heading END -->
    <div class="widget-body center" style="padding: 40px;">
        <span>要立即编辑引用关系么？</span>
        <a href="/editCite.html"><span class="btn btn-default" data-layout="topLeft" data-type="primary" data-toggle="notyfy">编辑引用关系</span></a>
        <span class="btn btn-default" data-layout="centerLeft" data-type="primary" data-toggle="notyfy" onclick="hidehint();">取消</span>
    </div>
</div>

<!-- JQuery -->
<script src="../resources/common/theme/scripts/plugins/system/jquery.min.js"></script>
<script src="../resources/js/jquery.autocomplete.js"></script>
<!-- JQueryUI -->
<script src="../resources/common/theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- Bootstrap -->
<script src="../resources/common/bootstrap/js/bootstrap.min.js"></script>
<!-- Common Demo Script -->
<script src="../resources/common/theme/scripts/demo/common.js?1369753442"></script>
<!-- Holder Plugin -->
<script src="../resources/common/theme/scripts/plugins/other/holder/holder.js"></script>
<!-- Bootstrap Extended -->
<script src="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>
<script src="../resources/common/bootstrap/extend/jasny-bootstrap/js/bootstrap-fileupload.js"></script>
<script src="../resources/common/theme/scripts/plugins/other/jquery.slimscroll.min.js"></script>
<script>
    function showhint(){
        $("#widget").show();
    }
    function hidehint(){
        $("#widget").hide();
    }
    function showAttribute(){
        var value=document.getElementById("select").value;
        #foreach($i in [1..$typeList.size()])
            document.getElementById("type_$i").style.display="none";
        #end
        document.getElementById(value).style.display="block";
    }
    $(document).ready(function(){

        $(".fake-delete").click(function(){
            $(this).parent().parent().hide();
        })
        $("#add-attachment").click(function(){
            if(!$("#fileupload-type1").is(":visible")){
                $("#fileupload-type1").show();
                return;
            }

            if(!$("#fileupload-type2").is(":visible")){
                $("#fileupload-type2").show();
                return;
            }

            if(!$("#fileupload-type3").is(":visible")){
                $("#fileupload-type3").show();
                return;
            }

            if(!$("#fileupload-type4").is(":visible")){
                $("#fileupload-type4").show();
                return;
            }
        })
    })

    $(function() {
        //输入缩写进行提示
        //期刊名
        var availableTags = {"BE":["Biomolecular Engineering"],"Cell. Polym.":["Cellular Polymers"]}
        $( "[name='3_attributeValue1']" ).autocomplete({
            source: function(request, response){
                console.log(request.term)
                response(availableTags[request.term])
            }
        });
        //出版社
        var publisher_nameTags = {"安大":["安徽大学出版社"],
                                  "商务":["商务印书馆"],
                                   "南大":["南京大学出版社"]}
        $( "[name='publisher_name']" ).autocomplete({
            source: function(request, response){
                console.log(request.term)
                response(publisher_nameTags[request.term])
            }
        });
    });
</script>
<script src="../resources/common/theme/scripts/plugins/system/modernizr.js"></script>
</body>