<!doctype html>
<head>
    <meta charset="utf-8">
    <title>管理员</title>
    <!-- Bootstrap -->
    <link href="../resources/common/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/css/responsive.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap-responsive.min.css" rel="stylesheet">

    <!-- JQueryUI -->
    <link href="../resources/common/theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
    <!-- Main Theme Stylesheet :: CSS -->
    <link href="../resources/common/theme/css/style-light.css?1369753442" rel="stylesheet" />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" media="screen" href="../resources/css/sidebar.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/header.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/global.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/table.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/common/theme/css/style-light.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/admin.css">
</head>

<body>
    #include("header.vm")
<div class="container0 clearfix">
    <ul class="menu">
        <li class="active"><a class="group" href="/admin.html"><i></i><span>用户管理</span></a></li>
        <li><a class="search" href="/paperConfig.html"><i></i><span>文献配置</span></a></li>
    </ul>
    <div class="main-right admin">
        <div class="title">用户列表</div>
            <div class="adv-table editable-table">
                <div class="add-user">
                    <div class="btn-group">
                        <button id="editable-sample_new" class="btn green">
                            添加用户 <i class="icon-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="space15"></div>
                <!-- Table -->
                <table class="table table-striped table-hover table-bordered" id="editable-sample">


                    <!-- Table body -->
                    <tbody>
                        <!-- Table row -->
                         #foreach($user in $userList)
                         <tr class="">
                             <td>$user.id</td>
                             <td>$user.account</td>
                             <td>$user.password</td>
                             <td><a class="edit" href="javascript:;">修改</a></td>
                             <td><a class="delete" href="javascript:;">删除</a></td>
                         </tr>
                         #end
                        <!-- // Table row END -->
                        </tbody>
                        <!-- // Table body END -->
                    </table>
                    <!-- // Table END -->
                </div>
                <!-- // Widget END -->





            </div>
        </div>
<!--JS-->

<script src="../resources/js/jquery-1.8.3.min.js"></script>
<script src="../resources/common/theme/scripts/demo/common.js"></script>
<script src="../resources/common/theme/scripts/plugins/other/jquery.slimscroll.min.js"></script>
<script src="../resources/common/theme/scripts/plugins/system/modernizr.js"></script>

<!-- JQueryUI -->
<script src="../resources/common/theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- Bootstrap -->
<script src="../resources/common/bootstrap/js/bootstrap.min.js"></script>
<!-- Common Demo Script -->
<script src="../resources/common/theme/scripts/demo/common.js?1369753442"></script>

<!-- Holder Plugin -->
<script src="../resources/common/theme/scripts/plugins/other/holder/holder.js"></script>
<!-- Bootstrap Extended -->
<script src="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>

<!-- advanced-table-->
<script src="../resources/common/advanced-table/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="../resources/common/advanced-table/js/jquery.dataTables.js"></script>
<script src="../resources/common/advanced-table/js/DT_bootstrap.js"></script>

<script src="../resources/js/editable-table.js"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        EditableTable.init();
    } );


</script>
</body>
