<!doctype html>
<head>
    <meta charset="utf-8">
    <title>编辑引用关系</title>
    <link rel="stylesheet" media="screen" href="../resources/css/sidebar.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/global.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/header.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/editCite.css"></link>

    <!-- Bootstrap -->
    <link href="../resources/common/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/css/responsive.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
    <!-- JQueryUI -->
    <link href="../resources/common/theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
    <!-- Main Theme Stylesheet :: CSS -->
    <link href="../resources/common/theme/css/style-light.css?1369753442" rel="stylesheet" />
    <!-- Uniform Pretty Checkboxes -->
    <link href="../resources/common/theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default.css" rel="stylesheet" />
    <script src="../resources/js/jquery-1.8.3.min.js"></script>
</head>
<body>
    #include("header.vm")
<div class="container0 clearfix">
    <ul class="menu">
        <li><a class="group" href="/index.html"><i></i><span>小组状态</span></a></li>
        <li><a class="search" href="/searchLiterature.html"><i></i><span>文献查询</span></a></li>
        <li><a class="add" href="/addLiterature.html"><i></i><span>文献录入</span></a></li>
        <li class="active"><a class="modify" href="/listLiterature.html"><i></i><span>文献修改</span></a></li>
        <li><a class="info" href="/profile.html"><i></i><span>个人信息</span></a></li>
    </ul>
    <div class="edit_right">
        <div class="title">文献修改<span>编辑引用关系</span></div>
        <div class="main clearfix">
            <div class="e_left">
                <div class="widget-body collapse in">
                    <div class="input-append">
                        <input class="span6" id="appendedInputButtons" type="text" placeholder="查找已有文献">
                        <button class="btn btn-default" type="button"><i class="icon-search"></i></button>
                    </div>
                </div>
                <div class="cite_type">
                    <span class="first">引用</span>
                    <span>被引用</span>
                </div>
                <ul>
                    <li>
                        <a class="desc" href="#">《Cloud Computing》-T,J L,Tom 2012</a>
                        <a class="add_cite first" href="javascript:void(0)" onclick="add_cite('cite',this)"></a>
                        <a class="add_cite" href="javascript:void(0)" onclick="add_cite('cited',this)"></a>
                    </li>
                    <li>
                        <a class="desc" href="#">《Hadoop》-Tick L,Tom 2011</a>
                        <a class="add_cite first" href="javascript:void(0)" onclick="add_cite('cite',this)"></a>
                        <a class="add_cite" href="javascript:void(0)" onclick="add_cite('cited',this)"></a>
                    </li>
                    <li>
                        <a class="desc" href="#">《HBase》-Jack L,Tom 2012</a>
                        <a class="add_cite first" href="javascript:void(0)" onclick="add_cite('cite',this)"></a>
                        <a class="add_cite" href="javascript:void(0)" onclick="add_cite('cited',this)"></a>
                    </li>
                    <li>
                        <a class="desc" href="#">《HCI is good》-T,J L,Tom 2012</a>
                        <a class="add_cite first" href="javascript:void(0)" onclick="add_cite('cite',this)"></a>
                        <a class="add_cite" href="javascript:void(0)" onclick="add_cite('cited',this)"></a>
                    </li>
                </ul>
            </div>
            <div class="e_right">
                <form name="" method="" action="">
                <div class="lit_title">文献标题：云计算与世界</div>
                <div class="cite_list">
                    <div class="list_title"><span></span>本文引用的文献</div>
                    <ul id="cite">
                        <li>
                            <a href="#">云计算给图书馆管理带来挑战[J] 胡小菁， 范并思</a>
                            <a href="#" onclick="deleteCite(this);" style="float: right;">删除</a>
                            <div class="widget-body uniformjs">
                                <label>引用关系类型：</label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="1" />
                                    简单提及
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="2" checked="checked" />
                                    相关
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="3" checked="checked" />
                                    使用
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="4" checked="checked" />
                                    对比
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="5" checked="checked" />
                                    不确定
                                </label>
                            </div>
                        </li>
                        <li>
                            <a href="#">云计算: 系统实例与研究现状 陈康，郑纬民 </a>
                            <a href="#" onclick="deleteCite(this);" style="float: right;">删除</a>
                            <div class="widget-body uniformjs">
                                <label>引用关系类型：</label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="1" />
                                    简单提及
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="2" checked="checked" />
                                    相关
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="3" checked="checked" />
                                    使用
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="4" checked="checked" />
                                    对比
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="5" checked="checked" />
                                    不确定
                                </label>
                            </div>
                        </li>
                        <li>
                            <a href="#">云计算及其关键技术  陈全， 邓倩妮</a>
                            <a href="#" onclick="deleteCite(this);" style="float: right;">删除</a>
                            <div class="widget-body uniformjs">
                                <label>引用关系类型：</label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="1" />
                                    简单提及
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="2" checked="checked" />
                                    相关
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="3" checked="checked" />
                                    使用
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="4" checked="checked" />
                                    对比
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="5" checked="checked" />
                                    不确定
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="cite_list">
                    <div class="list_title"><span></span>引用本文的文献</div>
                    <ul id="cited">
                        <li>
                            <a href="#">云计算: 系统实例与研究现状 陈康，郑纬民 </a>
                            <a href="#" onclick="deleteCite(this);" style="float: right;">删除</a>
                            <div class="widget-body uniformjs">
                                <label>引用关系类型：</label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="1" />
                                    简单提及
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="2" checked="checked" />
                                    相关
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="3" checked="checked" />
                                    使用
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="4" checked="checked" />
                                    对比
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="5" checked="checked" />
                                    不确定
                                </label>
                            </div>
                        </li>
                        <li>
                            <a href="#">云计算及其关键技术  陈全， 邓倩妮</a>
                            <a href="#" onclick="deleteCite(this);" style="float: right;">删除</a>
                            <div class="widget-body uniformjs">
                                <label>引用关系类型：</label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="1" />
                                    简单提及
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="2" checked="checked" />
                                    相关
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="3" checked="checked" />
                                    使用
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="4" checked="checked" />
                                    对比
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox" class="checkbox" value="5" />
                                    不确定
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="submit">
                    <button class="btn btn-block btn-primary" type="submit" style="display: inline-block;margin-left: 20px;">确认修改</button>
                    <button class="btn btn-block btn-primary" style="display: inline-block;margin-left: 50px;">取消</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
<script>
    function add_cite(id,e){
        $("#"+id).append(
                '<li><a href="#">'+$(e).parent().children('.desc').text()+'</a>'+
                        '<div class="widget-body uniformjs"><label>引用关系类型：</label>' +
                        '<label class="checkbox">' +
                        '<div class="checker" id="uniform-undefined"><span><input type="checkbox" class="checkbox" value="1" style="opacity: 0;"></span></div>' +
                        '&nbsp;简单提及</label>'+
                        '<label class="checkbox">'+
                        '<div class="checker" id="uniform-undefined"><span class="checked"><input type="checkbox" class="checkbox" value="2" checked="checked" style="opacity: 0;"></span></div>'+
                        '&nbsp;相关</label>'+
                        '<label class="checkbox">'+
                        '<div class="checker" id="uniform-undefined"><span class="checked"><input type="checkbox" class="checkbox" value="3" checked="checked" style="opacity: 0;"></span></div>'+
                        '&nbsp;使用</label>'+
                        '<label class="checkbox">'+
                        '<div class="checker" id="uniform-undefined"><span class="checked"><input type="checkbox" class="checkbox" value="4" checked="checked" style="opacity: 0;"></span></div>'+
                        '&nbsp;对比</label>'+
                        '<label class="checkbox">'+
                        '<div class="checker" id="uniform-undefined"><span class="checked"><input type="checkbox" class="checkbox" value="5" checked="checked" style="opacity: 0;"></span></div>'+
                        '&nbsp;不确定</label></div></li>'
            )
    }
    function deleteCite(e){
        $(e).parent().remove();
    }
</script>
<!-- JQuery -->
<script src="../resources/common/theme/scripts/plugins/system/jquery.min.js"></script>

<!-- JQueryUI -->
<script src="../resources/common/theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- Bootstrap -->
<script src="../resources/common/bootstrap/js/bootstrap.min.js"></script>
<!-- Common Demo Script -->
<script src="../resources/common/theme/scripts/demo/common.js?1369753442"></script>

<!-- Holder Plugin -->
<script src="../resources/common/theme/scripts/plugins/other/holder/holder.js"></script>
<!-- Bootstrap Extended -->
<script src="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>
<!-- Uniform Forms Plugin -->
<script src="../resources/common/theme/scripts/plugins/forms/pixelmatrix-uniform/jquery.uniform.min.js"></script>
</body>