<!doctype html>
<head>
    <meta charset="utf-8">
    <title>编辑引用关系</title>
    <link rel="stylesheet" media="screen" href="../resources/css/sidebar.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/global.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/header.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/editCite.css"></link>

    <!-- Bootstrap -->
    <link href="../resources/common/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/css/responsive.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
    <!-- JQueryUI -->
    <link href="../resources/common/theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
    <!-- Main Theme Stylesheet :: CSS -->
    <link href="../resources/common/theme/css/style-light.css?1369753442" rel="stylesheet" />
    <!-- Uniform Pretty Checkboxes -->
    <link href="../resources/common/theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
</head>
<body>
    #include("header.vm")
<div class="container0 clearfix">
    <ul class="menu">
        <li><a class="group" href="/index.html"><i></i><span>小组状态</span></a></li>
        <li><a class="search" href="/searchLiterature.html"><i></i><span>文献查询</span></a></li>
        <li><a class="add" href="/addLiterature.html"><i></i><span>文献录入</span></a></li>
        <li class="active"><a class="modify" href="/listLiterature.html"><i></i><span>文献修改</span></a></li>
        <li><a class="info" href="/profile.html"><i></i><span>个人信息</span></a></li>
    </ul>
    <div class="edit_right">
    <form name="cite" action="/doaddCite" method="POST">
        #set($citeNum=$title.size())
        <div class="title">文献修改<span>编辑引用关系</span></div>
        <div class="main clearfix">
            <div class="e_left">
                <div class="widget-body collapse in">
                    <div class="input-append">
                        <input class="span6" id="appendedInputButtons" type="text" placeholder="查找已有文献">
                        <button class="btn btn-default" type="button"><i class="icon-search"></i></button>
                    </div>
                </div>
                <div style="font-weight: bold;font-size: 14px;">可能相关的文献：</div>
                <div class="cite_type"><span>添加引用</span></div>
                <ul>
                    #foreach($literatureMeta in $literatureMetaList)
                        <li>
                            <a class="desc" href="literatureDetail.html?id=$literatureMeta.literatureid">$literatureMeta.title -$literatureMeta.author $literatureMeta.published_year</a>
                            <a class="add_cite" href="javascript:void(0)" onclick="add_cite('cite',this,$literatureMeta.literatureid)"></a>
                        </li>
                    #end
                </ul>
            </div>
            <div class="e_right">
                <div class="lit_title">文献标题: ${literature.literatureMeta.title}</div>
                <div class="cite_list">
                    <div class="list_title"><span></span>本文引用的文献</div>
                    <ul id="cite">
                        <li #if($title.size()==0) style="display: none;"#end id="nonecite">暂无引用文献</li>
                        #set($i=0)
                        #foreach($key in $title.keySet())
                            #set($i=$i+1)
                        <li>
                            <a href="literatureDetail.html?id=$key">$title.get($key)</a>
                            <div class="type_checkbox">
                                <input name="cite$i" type="hidden" value="$key">
                                <label>引用关系类型：</label>
                                    <input type="checkbox" name="type$i" class="checkbox" value="1"
                                        #if($type.get($key).contains(1))
                                            checked="checked"
                                        #end />简单提及
                                    <input type="checkbox" name="type$i" class="checkbox" value="2"
                                        #if($type.get($key).contains(2))
                                           checked="checked"
                                        #end />相关
                                    <input type="checkbox" name="type$i" class="checkbox" value="3"
                                        #if($type.get($key).contains(3))
                                           checked="checked"
                                        #end />使用
                                    <input type="checkbox" name="type$i" class="checkbox" value="4"
                                        #if($type.get($key).contains(4))
                                           checked="checked"
                                        #end />对比
                                    <input type="checkbox" name="type$i" class="checkbox" value="5"
                                        #if($type.get($key).contains(5))
                                           checked="checked"
                                        #end />不确定
                            </div>
                        </li>
                        #end
                    </ul>
                </div>
            </div>
        </div>
        <div class="submit">
            <button class="btn btn-block btn-primary" type="submit" style="display: inline-block;margin-left: 235px;">确认修改</button>
            <button class="btn btn-block btn-primary" style="display: inline-block;margin-left: 50px;">取消</button>
            <input type="hidden" id="citeNum" value="$citeNum" name="citeNum" />
            <input type="hidden" name="literatureid" value="$literature.literatureMeta.literatureid" />
        </div>
    </form>
    </div>
</div>
<script>
    var temp = $citeNum;
    function add_cite(id,e,literatureid){
        temp++;
        $("#citeNum").val(temp);
        if($("#nonecite")[0].style.display!="none"){
            $("#nonecite")[0].style.display="none";
        }
        $("#"+id).append(
             '<li><a href="#">'+$(e).parent().children('.desc').text()+'</a>'+
                  '<input name="cite'+temp+'" type="hidden" value="'+literatureid+'" />'+
                  '<div class="type_checkbox"><label style="margin-right: 4px;">引用关系类型：</label>' +
                  '<input type="checkbox" name="type'+temp+'" value="1">' +
                  '&nbsp;简单提及'+
                  '<input type="checkbox" name="type'+temp+'" value="2" checked="checked">'+
                  '&nbsp;相关'+
                  '<input type="checkbox" name="type'+temp+'" value="3" checked="checked">'+
                  '&nbsp;使用'+
                  '<input type="checkbox" name="type'+temp+'" value="4" checked="checked">'+
                  '&nbsp;对比'+
                  '<input type="checkbox" name="type'+temp+'" value="5" checked="checked">'+
                  '&nbsp;不确定</div></li>'
                  )
    }
    function deleteCite(e){
        $(e).parent().remove();
    }
</script>
<!-- JQuery -->
<script src="../resources/common/theme/scripts/plugins/system/jquery.min.js"></script>
<script src="../resources/common/theme/scripts/plugins/other/jquery.slimscroll.min.js"></script>
<script src="../resources/common/theme/scripts/plugins/system/modernizr.js"></script>

<!-- JQueryUI -->
<script src="../resources/common/theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- Bootstrap -->
<script src="../resources/common/bootstrap/js/bootstrap.min.js"></script>
<!-- Common Demo Script -->
<script src="../resources/common/theme/scripts/demo/common.js?1369753442"></script>

<!-- Holder Plugin -->
<script src="../resources/common/theme/scripts/plugins/other/holder/holder.js"></script>
</body>