<header class="header white-bg">
    <div class="logo">
        <img alt="" src="../resources/css/images/title.png">
        <h1> 组内文献管理系统</h1>
    </div>
    <div class="top-nav ">
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a href="#" onclick="dropdown()">
                    <img alt="" src="../resources/css/images/profile.jpg">
                    <span class="username">Jhon Doue</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up"></div>
                    <li><a href="/profile.html">
                        <i class=" icon-suitcase"></i>个人信息</a>
                        $session.getAttribute("sauthentication")
                    </li>
                    <li><a href="login.html"><i class="icon-key"></i> 登出</a></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
    </div>
</header>

<script>
    function dropdown(){
       if( $(".dropdown").hasClass("open")){
           $(".dropdown").removeClass("open");
       }else{
           $(".dropdown").addClass("open");
       }
    }
</script>
