<!doctype html>
<!--[if IE 7 ]>   <html lang="en" class="ie7 lte8"> <![endif]-->
<!--[if IE 8 ]>   <html lang="en" class="ie8 lte8"> <![endif]-->
<!--[if IE 9 ]>   <html lang="en" class="ie9"> <![endif]-->
<!--[if gt IE 9]> <html lang="en"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>GDMS组内文献管理系统</title>
    <link rel="shotcut icon" href="/resources/favicon.ico">

    <!-- Bootstrap -->
    <link href="../resources/common/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/css/responsive.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap-responsive.min.css" rel="stylesheet">

    <!-- JQueryUI -->
    <link href="../resources/common/theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
    <!-- Main Theme Stylesheet :: CSS -->
    <link href="../resources/common/theme/css/style-light.css?1369753442" rel="stylesheet" />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" media="screen" href="../resources/css/sidebar.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/header.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/global.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/index.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/common/theme/css/style-light.css"></link>



</head>
<body>
    #include("header.vm")
    <div class="container0 clearfix">
        <ul class="menu">
        <li class="active"><a class="group" href="/index.html"><i></i><span>小组状态</span></a></li>
        <li><a class="search" href="/searchLiterature.html"><i></i><span>文献查询</span></a></li>
        <li><a class="add" href="/addLiterature.html"><i></i><span>文献录入</span></a></li>
        <li><a class="modify" href="/listLiterature.html"><i></i><span>文献修改</span></a></li>
        <li><a class="info" href="/profile.html"><i></i><span>个人信息</span></a></li>
    </ul>
        <div style="float:right;width: 79%;">
            <div class="row">
                <div class="col-lg-8">
                    <!--timeline start-->
                    <section class="panel">
                        <div class="panel-body">
                            <div class="text-center mbot30">
                                <h3 class="timeline-title">文献动态</h3>
                                <p class="t-info">这是一个小组的文献动态概览</p>
                            </div>

                            <div class="timeline">
                                <article class="timeline-item">
                                    <div class="timeline-desk">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <span class="arrow"></span>
                                                <span class="timeline-icon red"></span>
                                                <span class="timeline-date">08:25 am</span>
                                                <h1 class="red">8月12日 | 星期天</h1>
                                                <p><a href="#">李琰</a> 上传了论文 <span><a href="#" class="red">《大教堂与集市》</a></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="timeline-item alt">
                                    <div class="timeline-desk">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <span class="arrow-alt"></span>
                                                <span class="timeline-icon green"></span>
                                                <span class="timeline-date">10:00 am</span>
                                                <h1 class="green">7月10日 | 星期三</h1>
                                                <p><a href="#">Jonathan Smith</a> 添加了 <span><a href="#" class="green">ERP</a></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="timeline-item">
                                    <div class="timeline-desk">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <span class="arrow"></span>
                                                <span class="timeline-icon blue"></span>
                                                <span class="timeline-date">11:35 am</span>
                                                <h1 class="blue">7月15日 | 星期一</h1>
                                                <p><a href="#">梁建均</a>  添加了新的网上资源 <span><a href="#" class="blue">PARTY TIME</a></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="timeline-item alt">
                                    <div class="timeline-desk">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <span class="arrow-alt"></span>
                                                <span class="timeline-icon purple"></span>
                                                <span class="timeline-date">3:20 pm</span>
                                                <h1 class="purple">6月29日  | 星期六</h1>
                                                <p>很多很多评论呢</p>
                                                <div class="notification">
                                                    <i class=" icon-exclamation-sign"></i> 有人给 <a href="#">笪笪</a> 上传的书添加了新的评论
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <article class="timeline-item">
                                    <div class="timeline-desk">
                                        <div class="panel">
                                            <div class="panel-body">
                                                <span class="arrow"></span>
                                                <span class="timeline-icon light-green"></span>
                                                <span class="timeline-date">07:49 pm</span>
                                                <h1 class="light-green">6月10日  | 星期五</h1>
                                                <p><a href="#">管理员</a> 添加了新的组员 <span><a href="#" class="light-green">Cancy</a></span> 大家欢迎她！</p>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="more"><h4 style="text-align: center;color:#C8CCD7;margin-bottom: 5px;">加载更多>>></h4></div>
                            <!--
                            <div class="clearfix">&nbsp;</div>
                            -->
                        </div>
                    </section>
                    <!--timeline end-->
                </div>
                <div class="col-lg-4">
                    <!--revenue start-->
                    <section class="panel">
                        <div class="revenue-head">
                            <h3>组员动态统计</h3>
                        </div>
                        <div class="panel-body">
                        <div class="adv-table">
                           <div class="table_filter" id="table_filter">
                               <select id="period-select" class="form-control" size="1" name="table_filter" aria-controls="">
                                   <option value="1" selected="selected">最近一周</option>
                                   <option value="2">最近一月</option>
                                   <option value="3">最近半年</option>
                                   <option value="4">最近一年</option>
                                   <option value="5">全部</option>
                               </select>
                           </div>
                            <table  class="display table table-bordered dataTable" id="statistic-table">
                                <thead></thead>
                                <tbody>
                                    #foreach($statistic in $statistics)
                                    <tr>
                                        <td><a href="/profile.html&userid=$statistic.userId">$statistic.account</a></td>
                                        <td>$statistic.literatureCount</td>
                                        <td>$statistic.attachmentCount</td>
                                        <td>$statistic.simpleCount</td>
                                        <td>$statistic.complexCount</td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer revenue-foot"></div>
                    </section>
                    <!--revenue end-->
                    <!--features carousel start-->
                    <section class="panel">
                        <div class="flat-carousal">
                                <!--total earning start-->
                                <div class="panel green-chart">
                                    <div class="panel-body">
                                        <div class="chart">
                                            <div class="heading">
                                                <span>2012 年</span>
                                                <strong>1 月 - 12 月</strong>
                                            </div>
                                            <div id="barchart"></div>
                                        </div>
                                    </div>
                                    <div class="chart-tittle">
                                        <span class="title">总上传量</span>
                                        <span class="value">500</span>
                                    </div>
                                </div>
                                <!--total earning end-->
                        </div>
                        <div class="panel-body">
                            <ul class="ft-link">
                                <li class="active">
                                    <a href="javascript:;">
                                        总文献
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        总附件
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        总简评
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        总详评
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    <!--features carousel end-->
                </div>
            </div>
        </div>
    </div>

<script src="../resources/js/jquery-1.8.3.min.js"></script>
<!-- JQueryUI -->
<script src="../resources/common/theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- Bootstrap -->
<script src="../resources/common/bootstrap/js/bootstrap.min.js"></script>
<!-- Common Demo Script -->
<script src="../resources/common/theme/scripts/demo/common.js?1369753442"></script>

<!-- Holder Plugin -->
<script src="../resources/common/theme/scripts/plugins/other/holder/holder.js"></script>
<!-- Bootstrap Extended -->
<script src="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>
<!--JS-->
<script src="../resources/js/jquery.sparkline.js" type="text/javascript"></script>
<script src="../resources/js/sparkline-chart.js" type="text/javascript"></script>
<script src="../resources/common/theme/scripts/demo/common.js"></script>
<script src="../resources/common/theme/scripts/plugins/other/jquery.slimscroll.min.js"></script>
<script src="../resources/common/theme/scripts/plugins/system/modernizr.js"></script>
<!-- advanced-table-->
<script src="../resources/common/advanced-table/js/jquery.dataTables.js"></script>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var oTable=$('#statistic-table').dataTable( {
            "bPaginate": false,
            "bLengthChange": false,
            "bAutoWidth": true,
            "bFilter": false,
            "sScrollY": 200,
            "sScrollX": "100%",
            "aoColumns": [{ "sTitle": "姓名" },
                { "sTitle": "录入文献数量" },
                { "sTitle": "上传附件数量" },
                { "sTitle": "简单评价数量" },
                { "sTitle": "详细评价数量"}],
            "bSort": false,
            "aaSorting": [[ 0, "desc" ]]
        } );

        $("#period-select").change(function(){
            changeData($(this).val());
        });

        function changeData(tag){
            $.ajax({
                type:'post',
                url:"/doGetStatistics",
                data:{type:tag},
                dataType:'json',
                success:function(data){
                    if(data.success){
                        var list=data.list;
                        for(var i=0;i<list.length;i++){
                            oTable.fnUpdate('<a href="/profile.html&userid='+list[i].userId+'">'+list[i].account+'</a>',i,0,false);
                            oTable.fnUpdate(list[i].literatureCount,i,1,false);
                            oTable.fnUpdate(list[i].attachmentCount,i,2,false);
                            oTable.fnUpdate(list[i].simpleCount,i,3,false);
                            oTable.fnUpdate(list[i].complexCount,i,4,false);
                        }
                        oTable.fnDraw();
                    }
                    else alert("获取失败！");
                },
                error:function(XMLHttpRequest, textStatus, errorThrown){
                    alert(XMLHttpRequest.status);
                    alert(XMLHttpRequest.readyState);
                    alert(textStatus);
                }

            });
        }
    });

</script>

</body>