<!doctype html>
<head xmlns="http://www.w3.org/1999/html">
    <meta charset="utf-8">
    <title>文献详情</title>
    <link rel="shotcut icon" href="/resources/favicon.ico">
    <link rel="stylesheet" media="screen" href="../resources/css/sidebar.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/global.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/header.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/literatureDetail.css"></link>
    <link href="../resources/common/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../resources/common/theme/css/style-light.css?1369753442" rel="stylesheet" />
    <link href="../resources/common/theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default.css" rel="stylesheet" />
</head>
<body>
    #include("header.vm")
<div class="container0 clearfix">
    <ul class="menu">
        <li><a class="group" href="/index.html"><i></i><span>小组状态</span></a></li>
        <li class="active"><a class="search" href="/searchLiterature.html"><i></i><span>文献查询</span></a></li>
        <li><a class="add" href="/addLiterature.html"><i></i><span>文献录入</span></a></li>
        <li><a class="modify" href="/listLiterature.html"><i></i><span>文献修改</span></a></li>
        <li><a class="info" href="/profile.html"><i></i><span>个人信息</span></a></li>
    </ul>
    <div class="detail_right">
        <div class="title">文献详情<a href="./searchResult.html">返回</a></div>
        <div class="main">
            <div class="left">
                <ul class="literature">
                    <li class="t">$literature.literatureMeta.title</li>
                    <li class="type"><span>类别：</span>
                        #foreach($type in $typeList)
                            #if($literature.literaturetypeid==$type.id)
                                <span>$type.name</span>
                            #end
                        #end
                    </li>
                    <li><span>发行时间：</span>$literature.literatureMeta.published_year</li>
                    <li class="author"><span>作者：</span>$literature.literatureMeta.author</li>
                    <li class="abstract"><span>摘要：</span>$literature.literatureMeta.literature_abstract</li>
                    <li class="keyword"><span>关键字：</span>$literature.literatureMeta.key_words</li>
                    #foreach($attribute in $attributeList)
                        <li><span>$attribute.attributename：</span>$attribute.value</li>
                    #end
                </ul>
                <div class="comment">
                    <div class="t">我来评论</div>
                    <div class="widget widget-tabs widget-tabs-double-2">
                        <div class="widget-head">
                            <ul>
                                <li class="active"><a class="glyphicons user" href="#tabSimple" data-toggle="tab"><span>简单评论</span></a></li>
                                <li ><a class="glyphicons list" href="#tabDetail" data-toggle="tab"><span>详细评论</span></a></li>
                                <li><a class="glyphicons" href="#tabTag" data-toggle="tab"><span>添加标签</span></a></li>
                            </ul>
                        </div>
                        <div class="widget-body">
                            <div class="tab-content">
                                <div id="tabSimple" class="active tab-pane widget-body-regular">
                                    <form name="" action="" method="get">
                                        <div class="rating clearfix">
                                            <input type="hidden" id="s_star" name="star" value="" />
                                            <span>打个分数吧（可选）：</span>
                                            <span class="stars">
                                              <span class="star" id="s_star1" onmouseover="selectStar('s_star',1)" onmouseout="cancelSelect('s_star')" onclick="confirmSelect('s_star',1)"></span>
                                              <span class="star" id="s_star2" onmouseover="selectStar('s_star',2)" onmouseout="cancelSelect('s_star')" onclick="confirmSelect('s_star',2)"></span>
                                              <span class="star" id="s_star3" onmouseover="selectStar('s_star',3)" onmouseout="cancelSelect('s_star')" onclick="confirmSelect('s_star',3)"></span>
                                              <span class="star" id="s_star4" onmouseover="selectStar('s_star',4)" onmouseout="cancelSelect('s_star')" onclick="confirmSelect('s_star',4)"></span>
                                              <span class="star" id="s_star5" onmouseover="selectStar('s_star',5)" onmouseout="cancelSelect('s_star')" onclick="confirmSelect('s_star',5)"></span>
                                            </span>
                                        </div>
                                        <textarea cols="2" rows="3" style="width: 362px;"></textarea>
                                        <div class="clearfix">
                                            <button class="btn btn-block btn-primary" type="submit" style="float: right;">提交评论</button>
                                            <span style="float: right;margin-right: 20px;">
                                                <input name="state" type="checkbox" style="float: left;height: 29px;">
                                                <span style="height: 36px;line-height: 36px;float: right;margin-left: 5px;">存为草稿</span></span>
                                        </div>
                                    </form>
                                </div>
                                <div id="tabDetail" class="tab-pane widget-body-regular">
                                    <form name="" action="" method="get">
                                        #foreach($commentAttribute in $commentAttributeList)
                                            <div>
                                                <label>$commentAttribute.name</label>
                                                <textarea cols="3" rows="2"></textarea>
                                            </div>
                                        #end
                                        <div class="clearfix">
                                            <button class="btn btn-block btn-primary" type="submit" style="float: right;">提交评论</button>
                                            <span style="float: right;margin-right: 20px;">
                                                <input name="state" type="checkbox" style="float: left;height: 29px;">
                                                <span style="height: 36px;line-height: 36px;float: right;margin-left: 5px;">存为草稿</span>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                <div id="tabTag" class="tab-pane widget-body-regular">
                                    <form name="" action="" method="get">
                                        <div>标签（多个标签用空格分开）</div>
                                        <div>
                                            <textarea cols="3" class="tag12"></textarea>
                                        </div>
                                        <div class="mytags clearfix">
                                            <div class="l">我的标签：</div>
                                            <div class="r">
                                                <a href="#">Cloud Computing</a>
                                                <a href="#">HCI</a>
                                                <a href="#">Hadoop</a>
                                                <a href="#">Java</a>
                                            </div>
                                        </div>
                                        <div class="mytags clearfix">
                                            <div class="l">常用标签：</div>
                                            <div class="r">
                                                <a href="#">Java EE</a>
                                                <a href="#">Linux</a>
                                                <a href="#">Github</a>
                                                <a href="#">Html/css</a>
                                                <a href="#">Database</a>
                                            </div>
                                        </div>
                                        <button class="btn btn-block btn-primary" type="submit" style="display: inline-block;margin-left: 262px;">提交</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="otherComments">
                    <div class="t">其他人的评论</div>
                    <ul>
                        <li>
                            <div class="info"><a class="name">梁建均</a><span>评分：4</span><span>2013-11-20</span></div>
                            <div>好文章，必须赞～</div>
                        </li>
                        <li>
                            <div class="info"><a class="name">戴娟</a><span>评分：4</span><span>2013-11-20</span></div>
                            <div>云计算技术以其强大的功能已在世界的一些商业领域得到了初步的应用。在不久的将来,
                                云计算技术也将在图书馆中得到大规模的普及应用。文章在分析云计算与图书馆的关系
                                基础上,探讨了云计算技术在图书馆建设与服务中的应用</div>
                        </li>
                        <li>
                            <div class="info"><a class="name">丁玲娟</a><span>评分：5</span><span>2013-11-20</span></div>
                            <div>好文章，必须赞～</div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right">
                <ul class="row1">
                    <li>最初上传人：<a href="#">$creator</a></li>
                    <li>最后修改人：<a href="#">$updater</a></li>
                    <li>平均得分：9.2（15人评价）</li>
                    <li class="download clearfix">
                        <div class="l">附件下载:</div>
                        <div class="r">
                                #foreach($attachment in $literature.attachmentList)
                                    #if($attachment.type==0)
                                        论文:<a href="$attachment.link" title="点击下载附件">$attachment.name</a>
                                        <br>
                                    #end
                                    #if($attachment.type==1)
                                        其他:<a href="$attachment.link" title="点击下ß载附件">$attachment.name</a>
                                        <br>
                                    #end
                                #end
                        </div>
                    </li>
                </ul>
                <div class="cite_list">
                    <div class="list_title"><span></span>本文引用的文献（$citelist.size()）<a class="more" href="">更多>></a></div>
                    <ul>
                        <li #if($citelist.size()!=0) style="display: none;"#end id="nonecite">暂无引用文献</li>
                        #foreach($key in $citelist.keySet())
                            <li><a href="literatureDetail.html?id=$key">$citelist.get($key)</a></li>
                        #end
                    </ul>
                </div>
                <div class="cite_list">
                    <div class="list_title"><span></span>引用本文的文献（$citedlist.size()）<a class="more" href="">更多>></a></div>
                    <ul>
                        <li #if($citedlist.size()!=0) style="display: none;"#end id="nonecite">暂无文献引用本文</li>
                        #foreach($key in $citedlist.keySet())
                            <li><a href="literatureDetail.html?id=$key">$citedlist.get($key)</a></li>
                        #end
                    </ul>
            </div>
    </div>
</div>
    <script>
        var sign = 0;
        function selectStar(e,num){
            sign=0;
            cancelSelect(e);
            for (var i=1;i<=num;i++)
            {
                $("#"+e+i).addClass("on");
            }
            $("#"+e).val("");
        }
        function cancelSelect(e){
            if(sign==0){
                for(var i=1;i<=5;i++){
                    $("#"+e+i).removeClass("on");
                }
                $("#"+e).val("");
            }
        }
        function confirmSelect(e,num){
            selectStar(e,num);
            $("#"+e).val(num);
            sign=1;
        }
    </script>
    <!-- JQuery -->
    <script src="../resources/common/theme/scripts/plugins/system/jquery.min.js"></script>

    <!-- JQueryUI -->
    <script src="../resources/common/theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- Bootstrap -->
    <script src="../resources/common/bootstrap/js/bootstrap.min.js"></script>
    <!-- Common Demo Script -->
    <script src="../resources/common/theme/scripts/demo/common.js?1369753442"></script>

    <!-- Holder Plugin -->
    <script src="../resources/common/theme/scripts/plugins/other/holder/holder.js"></script>
    <!-- Bootstrap Extended -->
    <script src="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>
    <!-- Uniform Forms Plugin -->
    <script src="../resources/common/theme/scripts/plugins/forms/pixelmatrix-uniform/jquery.uniform.min.js"></script>
</body>