<!doctype html>
<head>
    <meta charset="utf-8">
    <title>文献配置</title>
    <link rel="shotcut icon" href="/resources/favicon.ico">
    <!-- Bootstrap -->
    <link href="../resources/common/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/css/responsive.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap-responsive.min.css" rel="stylesheet">

    <!-- JQueryUI -->
    <link href="../resources/common/theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
    <!-- Main Theme Stylesheet :: CSS -->
    <link href="../resources/common/theme/css/style-light.css?1369753442" rel="stylesheet" />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" media="screen" href="../resources/css/sidebar.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/header.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/global.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/table.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/common/theme/css/style-light.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/admin.css">
</head>

<body>
    #include("header.vm")
<div class="container0 clearfix">
    <ul class="menu">
        <li><a class="group" href="/admin.html"><i></i><span>用户管理</span></a></li>
        <li class="active"><a class="search" href="/paperConfig.html"><i></i><span>文献配置</span></a></li>
    </ul>
    <div class="paper-config admin">
        <div class="title">文献配置</div>
        <div class="main">
            <!--文献种类及其属性配置模块开始-->
            <div class="section">
                <div class="head">
                    <h5>文献种类/属性配置</h5>
                    <div class="save-btn">
                        <a><span onclick="saveMust()">保存必选配置</span></a>
                    </div>
                    <div class="save-btn">
                        <a><span onclick="deleteConfigs('type_attributes')">删除选中配置</span></a>
                    </div>
                    <div class="save-btn">
                        <a><span onclick="deleteConfigs('types')">删除选中类型</span></a>
                    </div>
                </div>
                <div class="row literature">
                    <label>文献种类：</label>
                    <select class="selectpicker span6" data-style="btn-default" style="display: none;" id="select" onchange="showAttribute()">
                        #set($foo=0)
                        #foreach($type in $typeList)
                            #set($foo=$foo+1)
                            <option value="type_$foo">$!{type.name}</option>
                        #end
                    </select>

                    <div class="add-div">
                        <input type="text" placeholder="多个类型用 ‘;’ 隔开" id="types">
                        <button class="btn btn-primary" onclick="addConfig('types')">添加类型</button>
                    </div>
                </div>
                <div class="row">
                        <div id="special">
                            <label>特色信息配置<span style="color:red">(选中的为必选项)</span>：</label>
                            #set($foo=0)
                            #foreach($typeAttribute in $typeAttributeList)
                                #set($foo=$foo+1)
                                <div class="checkbox-group" id="type_$foo"
                                    #if($foo==1)
                                       style="display:block"
                                    #else
                                       style="display: none"
                                    #end>
                                    #foreach($attribute in $typeAttribute)
                                        <input type="checkbox" #if($attribute.ismust==1) checked="true"
                                        #end class="checkbox"  value="${attribute.attribute.name}"><span>${attribute.attribute.name}</span>
                                    #end
                                </div>
                            #end
                        </div>
                    <div class="add-div clearfix">
                        <input type="text" placeholder="多个属性用 ‘;’ 隔开"  id="type_attributes">
                        <button class="btn btn-primary" onclick="addConfig('type_attributes')">添加属性</button>
                    </div>
                    <div class="row">
                        <label>已有文献属性箱：<span style="color:red">（勾选以添加）</span></label>
                        <div id="attribute-box" class="checkbox-group">
                            #foreach($basicAttribute in $basicAttributeList)
                                <input type="checkbox" class="checkbox" onclick="autoAdd(this)" value="$basicAttribute.name" ><span>$basicAttribute.name</span>
                            #end
                        </div>
                    </div>

                </div>
            </div>
            <!--文献种类及其属性配置模块结束-->

            <!--详细评价配置模块开始-->
            <div class="section">
                <div class="head">
                    <h5>详细评价配置</h5>
                    <div class="save-btn">
                        <a><span onclick="deleteConfigs('comment_attributes')">删除选中项</span></a>
                    </div>
                </div>
                <div class="row">
                    <label>已有详细评价配置：</label>
                    <div class="checkbox-group" id="comment-box">
                        #foreach($commentAttribute in $commentAttributeList)
                            <input type="checkbox" class="checkbox" value="$commentAttribute.name" ><span>$commentAttribute.name</span>
                        #end
                    </div>
                    <div class="add-div clearfix">
                        <input type="text" placeholder="多个条目用 ‘;’ 隔开" id="comment_attributes">
                        <button class="btn btn-primary" onclick="addConfig('comment_attributes')">添加条目</button>
                    </div>
                </div>
            </div>
            <!--详细评价配置模块结束-->
            <!--引用关系配置模块开始-->
            <div class="section">
                <div class="head">
                    <h5>引用关系配置</h5>
                    <div class="save-btn">
                        <a><span onclick="deleteConfigs('cite_attributes')">删除选中项</span></a>
                    </div>
                </div>
                <div class="row">
                    <label>已有引用关系：</label>
                    <div class="checkbox-group" id="cite-box">
                        #foreach($citeAttribute in $citeAttributeList)
                            <input type="checkbox" class="checkbox" value="$citeAttribute.name" ><span>$citeAttribute.name</span>
                        #end
                    </div>
                    <div class="add-div clearfix">
                        <input type="text" placeholder="多个关系用 ‘;’ 隔开" id="cite_attributes">
                        <button class="btn btn-primary"onclick="addConfig('cite_attributes')">添加关系</button>
                    </div>
                </div>
            </div>
            <!--引用关系配置模块结束-->

        </div>

    </div>
</div>
<!--JS-->

<script src="../resources/js/jquery-1.8.3.min.js"></script>
<script src="../resources/common/theme/scripts/demo/common.js"></script>
<script src="../resources/common/theme/scripts/plugins/other/jquery.slimscroll.min.js"></script>
<script src="../resources/common/theme/scripts/plugins/system/modernizr.js"></script>

<!-- JQueryUI -->
<script src="../resources/common/theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- Bootstrap -->
<script src="../resources/common/bootstrap/js/bootstrap.min.js"></script>
<!-- Common Demo Script -->
<script src="../resources/common/theme/scripts/demo/common.js?1369753442"></script>

<!-- Holder Plugin -->
<script src="../resources/common/theme/scripts/plugins/other/holder/holder.js"></script>
<!-- Bootstrap Extended -->
<script src="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>

<!-- advanced-table-->
<script src="../resources/common/advanced-table/js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#self_upload').dataTable( {
            "aaSorting": [[ 4, "asc" ]]
        } );
    });

    function showAttribute(){
        var value=document.getElementById("select").value;
        #foreach($i in [1..$typeList.size()])
            document.getElementById("type_$i").style.display="none";
        #end
        document.getElementById(value).style.display="block";
    }

    function saveMust(){
        var select=document.getElementById("select");
        var index=select.selectedIndex;
        var text=""
        if(index!=-1)
            text=select.options[index].text;
        var unchecked=[];
        var checked=[];
        var i=index+1;
        var checkboxes=$("#type_"+i+" input[type='checkbox']").each(function(){
            if($(this).attr("checked")!="checked")
                unchecked.push($(this).val());
            else
                checked.push($(this).val());
        });
        $.ajax({
            type:'post',
            url:"/doChangeMust",
            data:{args1:unchecked,args2:checked,typename:text},
            success:function(data){
                alert("保存必选项成功！");
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }

        });

    }

    function autoAdd(obj){
        var select=document.getElementById("select");
        var index=select.selectedIndex;
        var exists=[];
        var i=index+1;
        var checkboxes=$("#type_"+i+" input[type='checkbox']").each(function(){
            exists.push($(this).val());
        });
        var value=$(obj).val();
        var former=$('#type_attributes').val();
        var now="";
        var first=false;
        if(former=="")
             first=true;
        if($(obj).attr("checked")=="checked"){
            if(jQuery.inArray(value,exists)>=0){
                alert("该属性已被添加！");
                return;
            }
            if(first)
                now=value;
            else
                now=former+"；"+value;
            $('#type_attributes').val(now);
        }else{
            if(jQuery.inArray(value,exists)>=0){;
                return;
            }
            if(former.replace(value,"")!=""){
                var f=former.trim();
                var a= f.split(/;|；/);
                a.splice(jQuery.inArray(value,a),1);
                now=a[0];
                for(var i=1;i< a.length;i++)
                   now=now+"；"+a[i];
            }
            $('#type_attributes').val(now);
        }
    }

    function addConfig(id){
        var configs=document.getElementById(id).value;
        var obj=document.getElementById("select");
        var index=obj.selectedIndex;
        var text=""
        if(index!=-1)
            text=obj.options[index].text;
        configs=configs.trim();
        var args=configs.split(/;|；/)
        $.ajax({
            type:'post',
            url:"/doAddConfigs",
            data:{type:id,args:args,typename:text},
            success:function(data){
                alert("添加成功！");
                if(id=="types"){
                    for(var i=0;i<args.length;i++){
                        var num=$typeList.size()+i+1;
                        $("#"+id)[0].value="";
                        $("#select").append("<option value='type_"+num+"'>"+args[i]+"</option>");
                        $("#special").append("<div class='checkbox-group'id='type_"+num+"'style='display:none'></div>");
                    }
                    $("#select").get(0).options[$typeList.size()].selected=true;
                }
                else if(id=="type_attributes")
                    for(var i=0;i<args.length;i++){
                        $("#"+id)[0].value="";
                        $("#"+obj.options[index].value).append("<input type='checkbox' checked='checked' class='checkbox' value='"+args[i]+"'><span>"+args[i]+"</span>");
                    }
                else if(id=="comment_attributes")
                    for(var i=0;i<args.length;i++){
                        $("#"+id)[0].value="";
                        $("#comment-box").append("<input type='checkbox'  class='checkbox' value='"+args[i]+"'><span>"+args[i]+"</span>");
                    }
                else if(id=="cite_attributes")
                    for(var i=0;i<args.length;i++){
                        $("#"+id)[0].value="";
                        $("#cite-box").append("<input type='checkbox'  class='checkbox' value='"+args[i]+"'><span>"+args[i]+"</span>");
                    }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }
        });
    }
    function deleteConfigs(type){
        var obj=document.getElementById("select");
        var index=obj.selectedIndex;
        var text=""
        if(index!=-1)
            text=obj.options[index].text;
        else{
            alert("无类型选中！");
            return;
        }
        var chk_value =[];
        if(type=="types"){
            if (confirm("你确定要删除该文献类型 ?") == false) {
                return;
            }
            chk_value.push("-1");
        }else if(type=="type_attributes"){
            var i=index+1;
            var checkboxes=$("#type_"+i+" input[type='checkbox']:checked").each(function(){
                chk_value.push($(this).val());
            });
            if(chk_value.length==0){
                alert("你还没有选择任何内容！");
                return;
            }
            if (confirm("你确定要删除该文献类型的配置属性 ?") == false) {
                return;
            }

        }else if(type=="comment_attributes"){
            var checkboxes=$("#comment-box input[type='checkbox']:checked").each(function(){
                chk_value.push($(this).val());
            });
            if(chk_value.length==0){
                alert("你还没有选择任何内容！");
                return;
            }
            if (confirm("你确定要删除该评论属性 ?") == false) {
                return;
            }
        }else if(type=="cite_attributes"){
            var checkboxes=$("#cite-box input[type='checkbox']:checked").each(function(){
                chk_value.push($(this).val());
            });
            if(chk_value.length==0){
                alert("你还没有选择任何内容！");
                return;
            }
            if (confirm("你确定要删除该引用属性 ?") == false) {
                return;
            }
        }
        $.ajax({
            type:'post',
            url:"/doDeleteConfigs",
            data:{type:type,typename:text,chk_value:chk_value},
            success:function(data){
                if(type=="types"){
                    alert("删除成功！");
                    window.location.reload();
                }else if(type=="type_attributes"){
                    alert("删除成功！")
                    var i=index+1;
                    var checkboxes=$("#type_"+i+" input[type='checkbox']:checked").each(function(){
                        $(this).next().remove();
                        $(this).remove();
                    });
                }else if(type=="comment_attributes"){
                    alert("删除成功！")
                    $("#comment-box input[type='checkbox']:checked").each(function(){
                        $(this).next().remove();
                        $(this).remove();
                    });

                }else if(type=="cite_attributes"){
                    alert("删除成功！")
                    $("#cite-box input[type='checkbox']:checked").each(function(){
                        $(this).next().remove();
                        $(this).remove();
                    });
                }

            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }

        });


    }

</script>
</body>
