<!doctype html>
<head>
    <meta charset="utf-8">
    <title>文献配置</title>
    <!-- Bootstrap -->
    <link href="../resources/common/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/css/responsive.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap-responsive.min.css" rel="stylesheet">

    <!-- JQueryUI -->
    <link href="../resources/common/theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
    <!-- Main Theme Stylesheet :: CSS -->
    <link href="../resources/common/theme/css/style-light.css?1369753442" rel="stylesheet" />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" media="screen" href="../resources/css/sidebar.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/header.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/global.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/table.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/common/theme/css/style-light.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/admin.css">
</head>

<body>
    #include("header.vm")
<div class="container0 clearfix">
    <ul class="menu">
        <li><a class="group" href="/admin.html"><i></i><span>用户管理</span></a></li>
        <li class="active"><a class="search" href="/paperConfig.html"><i></i><span>文献配置</span></a></li>
    </ul>
    <div class="paper-config admin">
        <div class="title">文献配置</div>
        <div class="main">
            <!--文献种类及其属性配置模块开始-->
            <div class="section">
                <div class="head">
                    <h5>文献种类/属性配置</h5>
                    <div class="save-btn">
                        <a><span>保存必选配置</span></a>
                    </div>
                    <div class="save-btn">
                        <a><span>删除选中项</span></a>
                    </div>
                </div>
                <div class="row literature">
                    <label>文献种类：</label>
                    <select class="selectpicker span6" data-style="btn-default" style="display: none;" id="select" onchange="showAttribute()">
                        #set($foo=0)
                        #foreach($type in $typeList)
                            #set($foo=$foo+1)
                            <option value="type_$foo">$!{type.name}</option>
                        #end
                    </select>

                    <div class="add-div">
                        <input type="text" placeholder="多个类型用 ‘;’ 隔开" id="types">
                        <button class="btn btn-primary" onclick="addConfig('types')">添加类型</button>
                    </div>
                </div>
                <div class="row">
                        <div class="special">
                            <label>特色信息配置<span style="color:red">(选中的为必选项)</span>：</label>
                            #set($foo=0)
                            #foreach($typeAttribute in $typeAttributeList)
                                #set($foo=$foo+1)
                                <div class="checkbox-group" id="type_$foo"
                                    #if($foo==1)
                                       style="display:blcok"
                                    #else
                                       style="display: none"
                                    #end>
                                    #foreach($attribute in $typeAttribute)
                                        <input type="checkbox" #if($attribute.ismust==1) checked="true"
                                        #end class="checkbox"  value="${attribute.attribute.name}"><span>${attribute.attribute.name}</span>
                                    #end
                                </div>
                            #end


                        </div>

                    <div class="add-div">
                        <input type="text" placeholder="多个属性用 ‘;’ 隔开"  id="type_attributes">
                        <button class="btn btn-primary" onclick="addConfig('type_attributes')">添加属性</button>
                    </div>
                </div>
            </div>
            <!--文献种类及其属性配置模块结束-->

            <!--详细评价配置模块开始-->
            <div class="section">
                <div class="head">
                    <h5>详细评价配置</h5>
                    <div class="save-btn">
                        <a><span>删除选中项</span></a>
                    </div>
                </div>
                <div class="row">
                    <label>已有详细评价配置：</label>
                    <div class="checkbox-group" id="comment-box">
                        #foreach($commentAttribute in $commentAttributeList)
                            <input type="checkbox" class="checkbox" value="$commentAttribute.name" ><span>$commentAttribute.name</span>
                        #end
                    </div>
                    <div class="add-div">
                        <input type="text" placeholder="多个条目用 ‘;’ 隔开" id="comment_attributes">
                        <button class="btn btn-primary" onclick="addConfig('comment_attributes')">添加条目</button>
                    </div>
                </div>
            </div>
            <!--详细评价配置模块结束-->
            <!--引用关系配置模块开始-->
            <div class="section">
                <div class="head">
                    <h5>引用关系配置</h5>
                    <div class="save-btn">
                        <a><span>删除选中项</span></a>
                    </div>
                </div>
                <div class="row">
                    <label>已有引用关系：</label>
                    <div class="checkbox-group" id="cite-box">
                        #foreach($citeAttribute in $citeAttributeList)
                            <input type="checkbox" class="checkbox" value="$citeAttribute.name" ><span>$citeAttribute.name</span>
                        #end
                    </div>
                    <div class="add-div">
                        <input type="text" placeholder="多个关系用 ‘;’ 隔开" id="cite_attributes">
                        <button class="btn btn-primary"onclick="addConfig('cite_attributes')">添加关系</button>
                    </div>
                </div>
            </div>
            <!--引用关系配置模块结束-->

        </div>

    </div>
</div>
<!--JS-->

<script src="../resources/js/jquery-1.8.3.min.js"></script>
<script src="../resources/common/theme/scripts/demo/common.js"></script>
<script src="../resources/common/theme/scripts/plugins/other/jquery.slimscroll.min.js"></script>
<script src="../resources/common/theme/scripts/plugins/system/modernizr.js"></script>

<!-- JQueryUI -->
<script src="../resources/common/theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- Bootstrap -->
<script src="../resources/common/bootstrap/js/bootstrap.min.js"></script>
<!-- Common Demo Script -->
<script src="../resources/common/theme/scripts/demo/common.js?1369753442"></script>

<!-- Holder Plugin -->
<script src="../resources/common/theme/scripts/plugins/other/holder/holder.js"></script>
<!-- Bootstrap Extended -->
<script src="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>

<!-- advanced-table-->
<script src="../resources/common/advanced-table/js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#self_upload').dataTable( {
            "aaSorting": [[ 4, "asc" ]]
        } );
    } );

    function showAttribute(){
        var value=document.getElementById("select").value;
        #foreach($i in [1..$typeList.size()])
            document.getElementById("type_$i").style.display="none";
        #end
        document.getElementById(value).style.display="block";
    }

    function addConfig(id){
        var configs=document.getElementById(id).value;
        var obj=document.getElementById("select");
        alert(obj);
        var index=obj.selectedIndex;
        var text=""
        if(index!=-1)
            text=obj.options[index].text;
        configs=configs.trim();
        var args=configs.split(/;|；/)
        for(var i=0;i<args.length;i++)
           alert(args[i]);
        $.ajax({
            type:'post',
            url:"/doAddConfigs",
            data:{type:id,args:args,typename:text},
            success:function(data){
                alert("添加成功！");
                if(id=="types")
                    for(var i=0;i<args.length;i++){
                        var num=$typeList.size()+i+1;
                        alert("types"+num);
                        $("#"+id)[0].value="";
                        $("#select").append("<option value='type_"+num+"'>"+args[i]+"</option>");
                        $(".special").append("<div class='checkbox-group'id='type_"+num+"'style='display:none'")
                    }
                else if(id=="type_attributes")
                    for(var i=0;i<args.length;i++){
                        alert("type_attr");
                        $("#"+id)[0].value="";
                        $("#"+obj.options[index].value).append("<input type='checkbox' checked='checked' class='checkbox' value='"+args[i]+"'><span>"+args[i]+"</span>");
                    }
                else if(id=="comment_attributes")
                    for(var i=0;i<args.length;i++){
                        alert("comment");
                        $("#"+id)[0].value="";
                        $("#comment-box").append("<input type='checkbox' checked='checked' class='checkbox' value='"+args[i]+"'><span>"+args[i]+"</span>");
                    }
                else if(id=="cite_attributes")
                    for(var i=0;i<args.length;i++){
                        alert("cite");
                        $("#"+id)[0].value="";
                        $("#cite-box").append("<input type='checkbox' checked='checked' class='checkbox' value='"+args[i]+"'><span>"+args[i]+"</span>");
                    }
            },
            error:function(XMLHttpRequest, textStatus, errorThrown){
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
            }
        });



    }

    function changeArray(obj,type){


    }


</script>
</body>
