<!doctype html>
<head>
    <meta charset="utf-8">
    <title>文献配置</title>
    <!-- Bootstrap -->
    <link href="../resources/common/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/css/responsive.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap-responsive.min.css" rel="stylesheet">

    <!-- JQueryUI -->
    <link href="../resources/common/theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
    <!-- Main Theme Stylesheet :: CSS -->
    <link href="../resources/common/theme/css/style-light.css?1369753442" rel="stylesheet" />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" media="screen" href="../resources/css/sidebar.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/header.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/global.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/table.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/common/theme/css/style-light.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/admin.css">
</head>

<body>
    #include("header.vm")
<div class="container0 clearfix">
    <ul class="menu">
        <li><a class="group" href="/admin.html"><i></i><span>用户管理</span></a></li>
        <li class="active"><a class="search" href="/paperConfig.html"><i></i><span>文献配置</span></a></li>
    </ul>
    <div class="paper-config admin">
        <div class="title">文献配置</div>
        <div class="main">
            <!--文献种类及其属性配置模块开始-->
            <div class="section">
                <div class="head">
                    <h5>文献种类/属性配置</h5>
                </div>
                <div class="row literature">
                    <label>文献种类：</label>
                    <select class="selectpicker span6" data-style="btn-default" style="display: none;" id="select" onchange="showAttribute()">
                        #foreach($type in $typeList)
                            <option value=$type>$!type</option>
                        #end
                    </select>

                    <div class="add-div">
                        <input type="text" placeholder="多个类型用 ‘;’ 隔开" >
                        <button class="btn btn-primary">添加类型</button>
                    </div>
                </div>
                <div class="row">
                    #set($foo=-1)
                    #foreach($type in $typeList)
                        #set($foo=$foo+1)
                        <div class="special" id=$type>
                            <label>$type 类 - 特色信息配置：</label>
                            <div class="checkbox-group">
                                    #set($test="type"+$foo)
                                    #foreach($attribute in $test)
                                        <input type="checkbox" checked=$attribute.ismust class="checkbox"><span>$attribute.attribute.name</span>
                                    #end
                            </div>

                        </div>
                    #end
                    <div class="add-div">
                        <input type="text" placeholder="多个属性用 ‘;’ 隔开" >
                        <button class="btn btn-primary">添加属性</button>
                    </div>
                </div>
            </div>
            <!--文献种类及其属性配置模块结束-->

            <!--详细评价配置模块开始-->
            <div class="section">
                <div class="head">
                    <h5>详细评价配置</h5>
                </div>
                <div class="row">
                    <label>已有详细评价配置：</label>
                    <div class="checkbox-group">
                        <input type="checkbox" checked="true" class="checkbox"><span>内容</span>
                        <input type="checkbox" checked="true" class="checkbox"><span>来源</span>
                        <input type="checkbox" checked="true" class="checkbox"><span>出版年份</span>
                        <input type="checkbox" checked="true" class="checkbox"><span>页码</span>
                        <input type="checkbox" checked="true" class="checkbox"><span>摘要</span>
                        <input type="checkbox" checked="true" class="checkbox"><span>关键字</span>
                        <input type="checkbox" checked="true" class="checkbox"><span>出版社</span>
                        <input type="checkbox"  class="checkbox"><span>在线地址</span>
                    </div>
                    <div class="add-div">
                        <input type="text" placeholder="多个条目用 ‘;’ 隔开" >
                        <button class="btn btn-primary">添加条目</button>
                    </div>
                </div>
            </div>
            <!--详细评价配置模块结束-->
            <!--引用关系配置模块开始-->
            <div class="section">
                <div class="head">
                    <h5>引用关系配置</h5>
                    <div class="save-btn">
                        <a><span>保存配置</span></a>
                    </div>
                </div>
                <div class="row">
                    <label>已有引用关系：</label>
                    <div class="checkbox-group">
                        <input type="checkbox" checked="true" class="checkbox"><span>提及</span>
                        <input type="checkbox" checked="true" class="checkbox"><span>关联</span>
                        <input type="checkbox" checked="true" class="checkbox"><span>出版年份</span>
                        <input type="checkbox" checked="true" class="checkbox"><span>页码</span>
                        <input type="checkbox" checked="true" class="checkbox"><span>摘要</span>
                        <input type="checkbox" checked="true" class="checkbox"><span>关键字</span>
                        <input type="checkbox" checked="true" class="checkbox"><span>出版社</span>
                        <input type="checkbox"  class="checkbox"><span>在线地址</span>
                    </div>
                    <div class="add-div">
                        <input type="text" placeholder="多个关系用 ‘;’ 隔开" >
                        <button class="btn btn-primary">添加关系</button>
                    </div>
                </div>
            </div>
            <!--引用关系配置模块结束-->

        </div>

    </div>
</div>
<!--JS-->

<script src="../resources/js/jquery-1.8.3.min.js"></script>
<script src="../resources/common/theme/scripts/demo/common.js"></script>
<script src="../resources/common/theme/scripts/plugins/other/jquery.slimscroll.min.js"></script>
<script src="../resources/common/theme/scripts/plugins/system/modernizr.js"></script>

<!-- JQueryUI -->
<script src="../resources/common/theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- Bootstrap -->
<script src="../resources/common/bootstrap/js/bootstrap.min.js"></script>
<!-- Common Demo Script -->
<script src="../resources/common/theme/scripts/demo/common.js?1369753442"></script>

<!-- Holder Plugin -->
<script src="../resources/common/theme/scripts/plugins/other/holder/holder.js"></script>
<!-- Bootstrap Extended -->
<script src="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>

<!-- advanced-table-->
<script src="../resources/common/advanced-table/js/jquery.dataTables.js"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#self_upload').dataTable( {
            "aaSorting": [[ 4, "asc" ]]
        } );
    } );

    function showAttribute(){

    }
</script>
</body>
