<!doctype html>

<head>
    <meta charset="utf-8">
    <title>个人信息</title>
    <!-- Bootstrap -->
    <link href="../resources/common/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/css/responsive.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap-responsive.min.css" rel="stylesheet">

    <!-- JQueryUI -->
    <link href="../resources/common/theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
    <!-- Main Theme Stylesheet :: CSS -->
    <link href="../resources/common/theme/css/style-light.css?1369753442" rel="stylesheet" />

    <!-- STYLESHEETS -->
    <link rel="stylesheet" media="screen" href="../resources/css/sidebar.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/header.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/global.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/profile.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/table.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/common/theme/css/style-light.css"></link>


</head>

<body>
#include("header.vm")
   <div class="container0 clearfix">
       <ul class="menu">
           <li><a class="group" href="/index.html"><i></i><span>小组状态</span></a></li>
           <li><a class="search" href="/searchLiterature.html"><i></i><span>文献查询</span></a></li>
           <li><a class="add" href="/addLiterature.html"><i></i><span>文献录入</span></a></li>
           <li><a class="modify" href="/listLiterature.html"><i></i><span>文献修改</span></a></li>
           <li class="active"><a class="info" href="/profile.html"><i></i><span>个人信息</span></a></li>
       </ul>
       <div class="main-right">
           <div class="doc-relate">
               <div class="upload-doc">
                   <div class="title">已录入文献</div>
                   <div class="widget widget-tabs widget-tabs-double-2">
                       <div class="widget-head">
                           <ul>
                               <li class="active"><a class="glyphicons list" href="#tabBook" data-toggle="tab"><span>图&nbsp&nbsp书</span></a></li>
                               <li><a class="glyphicons user" href="#tabChp" data-toggle="tab"><span>图书章节</span></a></li>
                               <li><a class="glyphicons credit_card" href="#tabMag" data-toggle="tab"><span>期&nbsp&nbsp刊</span></a></li>
                               <li><a class="glyphicons cogwheel" href="#tabMeeting" data-toggle="tab"><span>会&nbsp&nbsp议</span></a></li>
                               <li><a class="glyphicons snowflake" href="#tabThesis" data-toggle="tab"><span>学位论文</span></a></li>
                               <li><a class="glyphicons snowflake" href="#tabLecture" data-toggle="tab"><span>技术报告</span></a></li>
                               <li><a class="glyphicons snowflake" href="#tabOnline" data-toggle="tab"><span>在线资源</span></a></li>
                           </ul>
                       </div>
                       <div class="widget-body">
                           <div class="tab-content">
                               <div id="tabBook" class="tab-pane active widget-body-regular">
                                   <!-- Widget -->
                                   <div class="widget">

                                       <div class="widget-body">

                                           <!-- Table -->
                                           <table class="dynamicTable table table-striped table-bordered table-condensed">

                                               <!-- Table heading -->
                                               <thead>
                                               <tr>
                                                   <th>SSN</th>
                                                   <th>文献名称</th>
                                                   <th>上传时间</th>
                                                   <th>评分</th>
                                               </tr>
                                               </thead>
                                               <!-- // Table heading END -->

                                               <!-- Table body -->
                                               <tbody>

                                               <!-- Table row -->
                                               <tr class="gradeX">
                                                   <td>1</td>
                                                   <td><a href="#">大教堂与集市</a></td>
                                                   <td>2013/12/17 16:58</td>
                                                   <td class="center">X</td>
                                               </tr>
                                               <!-- // Table row END -->

                                               <!-- Table row -->
                                               <tr class="gradeC">
                                                   <td>2</td>
                                                   <td>Internet Explorer 5.0</td>
                                                   <td>2013/12/17 16:58</td>
                                                   <td class="center">C</td>
                                               </tr>
                                               <!-- // Table row END -->

                                               <!-- Table row -->
                                               <tr class="gradeA">
                                                   <td>3</td>
                                                   <td>Internet Explorer 5.5</td>
                                                   <td>2013/12/17 16:58</td>
                                                   <td class="center">A</td>
                                               </tr>
                                               <!-- // Table row END -->

                                               <!-- Table row -->
                                               <tr class="gradeA">
                                                   <td>4</td>
                                                   <td>Internet Explorer 6</td>
                                                   <td>2013/12/17 16:58</td>
                                                   <td class="center">A</td>
                                               </tr>
                                               <!-- // Table row END -->

                                               <!-- Table row -->
                                               <tr class="gradeA">
                                                   <td>5</td>
                                                   <td>Internet Explorer 7</td>
                                                   <td>2013/12/17 16:58</td>
                                                   <td class="center">A</td>
                                               </tr>
                                               <!-- // Table row END -->

                                               </tbody>
                                               <!-- // Table body END -->

                                           </table>
                                           <!-- // Table END -->

                                       </div>
                                   </div>
                                   <!-- // Widget END -->
                               </div>
                               <div id="tabChp" class="tab-pane widget-body-regular">
                                   <h5>Account tab content</h5>
                                   <p>Donec at nunc dui. Integer eget sem sit amet arcu ...</p>
                               </div>
                               <div id="tabMag" class="tab-pane widget-body-regular">
                                   <h5>Payments tab content</h5>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ...</p>
                               </div>
                               <div id="tabMeeting" class="tab-pane widget-body-regular">
                                   <h5>Support tab content</h5>
                                   <p>Integer porttitor, enim eu egestas ullamcorper ...</p>
                               </div>
                               <div id="tabThesis" class="tab-pane widget-body-regular">
                                   <h5>Features tab content</h5>
                                   <p>Nunc aliquet lacus laoreet odio consectetur tempus ...</p>
                               </div>
                               <div id="tabLecture" class="tab-pane widget-body-regular">
                                   <h5>hello</h5>
                                   <p>Nunc aliquet lacus laoreet odio consectetur tempus ...</p>
                               </div>
                               <div id="tabOnline" class="tab-pane widget-body-regular">
                                   <h5>lalalalalalallalalaallalalala</h5>
                                   <p>Nunc aliquet lacus laoreet odio consectetur tempus ...</p>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="comments">
                   <div class="title">评论箱</div>
                   <div class="widget widget-tabs widget-tabs-double-2">
                       <div class="widget-head">
                           <ul>
                               <li class="active"><a class="glyphicons user" href="#tabComment" data-toggle="tab"><span>完成评论</span></a></li>
                               <li ><a class="glyphicons list" href="#tabDraft" data-toggle="tab"><span>评论草稿</span></a></li>

                           </ul>
                       </div>
                       <div class="widget-body">
                           <div class="tab-content">
                               <div id="tabDraft" class="tab-pane widget-body-regular">

                                   <div class="adv-table">
                                       <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-other">
                                           <thead>
                                           <tr>

                                               <th>评论文献</th>
                                               <th>评论草稿</th>
                                               <th>操作</th>
                                           </tr>
                                           </thead>
                                           <tbody>

                                           <tr>

                                               <td><a href="#">大教堂与集市</a></td>
                                               <td>啦啦啦啦啦lalalalalalaallalalala</td>
                                               <td class="op"><div><button class="btn  btn-primary" type="">编辑</button><button class="btn  btn-primary">发表</button><button class="btn  btn-primary">删除</button></div></td>
                                           </tr>
                                           <tr>

                                               <td><a href="#">人月神话</a></td>
                                               <td>不错额</td>
                                               <td class="op"><div><button class="btn  btn-primary">编辑</button><button class="btn  btn-primary">发表</button><button class="btn  btn-primary">删除</button></div></td>
                                           </tr>
                                           <tr>

                                               <td><a href="#">编程珠玑</a></td>
                                               <td>哈哈哈</td>
                                               <td class="op"><div><button class="btn  btn-primary">编辑</button><button class="btn  btn-primary">发表</button><button class="btn  btn-primary">删除</button></div></td>
                                           </tr>
                                           <tr>

                                               <td><a href="#">Thinking in Java</a></td>
                                               <td>额。。。。</td>
                                               <td class="op"><div><button class="btn  btn-primary">编辑</button><button class="btn  btn-primary">发表</button><button class="btn  btn-primary">删除</button></div></td>
                                           </tr>

                                           </tbody>
                                       </table>

                                   </div>

                               </div>
                               <div id="tabComment" class="tab-pane active widget-body-regular">
                                   <div class="adv-table">
                                       <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                                           <thead>
                                           <tr>

                                               <th>评论文献</th>
                                               <th>评论时间</th>
                                               <th>操作</th>
                                           </tr>
                                           </thead>
                                           <tbody>

                                           <tr>

                                               <td><a href="#">大教堂与集市</a></td>
                                               <td>2012/12/18 10:00</td>
                                               <td class="op"><div><button class="btn  btn-primary" type="">编辑</button><button class="btn  btn-primary" type="">保存</button><button class="btn  btn-primary">删除</button></div></td>
                                           </tr>
                                           <tr>

                                               <td><a href="#">人月神话</a></td>
                                               <td>2012/12/18 11:00</td>
                                               <td class="op"><div><button class="btn  btn-primary">编辑</button><button class="btn  btn-primary" type="">保存</button><button class="btn  btn-primary">删除</button></div></td>
                                           </tr>
                                           <tr>

                                               <td><a href="#">编程珠玑</a></td>
                                               <td>2012/12/18 12:00</td>
                                               <td class="op"><div><button class="btn  btn-primary">编辑</button><button class="btn  btn-primary" type="">保存</button><button class="btn  btn-primary">删除</button></div></td>
                                           </tr>
                                           <tr>

                                               <td><a href="#">Thinking in Java</a></td>
                                               <td>2012/12/18 13:00</td>
                                               <td class="op"><button class="btn  btn-primary">编辑</button><button class="btn  btn-primary" type="">保存</button><button class="btn  btn-primary">删除</button></div></td>

                                           </tr>

                                           </tbody>
                                       </table>

                                   </div>
                               </div>

                           </div>
                       </div>
                   </div>
           </div>
           <div class="self-info">

           </div>

       </div>
   </div>

<!--JS-->

<script src="../resources/js/jquery-1.8.3.min.js"></script>
<script src="../resources/common/theme/scripts/demo/common.js"></script>
<script src="../resources/common/theme/scripts/plugins/other/jquery.slimscroll.min.js"></script>
<script src="../resources/common/theme/scripts/plugins/system/modernizr.js"></script>

<!-- JQueryUI -->
<script src="../resources/common/theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- Bootstrap -->
<script src="../resources/common/bootstrap/js/bootstrap.min.js"></script>
<!-- Common Demo Script -->
<script src="../resources/common/theme/scripts/demo/common.js?1369753442"></script>

<!-- Holder Plugin -->
<script src="../resources/common/theme/scripts/plugins/other/holder/holder.js"></script>
<!-- Bootstrap Extended -->
<script src="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>

<!-- advanced-table-->
<script src="../resources/common/advanced-table/js/jquery.dataTables.js"></script>

<script type="text/javascript">
    /* Formating function for row details */
    function fnFormatDetails ( oTable, nTr )
    {
        var aData = oTable.fnGetData( nTr );
        var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
        sOut += '<tr><td>评论对象:</td><td>'+aData[1]+' '+aData[2]+'</td></tr>';
        sOut += '<tr><td>简要类型:</td><td>简要评价</td></tr>';
        sOut += '<tr><td>评价内容:</td><td>And any further details here (images etc)</td></tr>';
        sOut += '</table>';

        return sOut;
    }

    $(document).ready(function() {
        /*
         * Insert a 'details' column to the table
         */
        var nCloneTh = document.createElement( 'th' );
        var nCloneTd = document.createElement( 'td' );
        nCloneTd.innerHTML = '<img src="../resources/common/advanced-table/support/details_open.png">';
        nCloneTd.className = "center";

        $('#hidden-table-info thead tr').each( function () {
            this.insertBefore( nCloneTh, this.childNodes[0] );
        } );

        $('#hidden-table-info tbody tr').each( function () {
            this.insertBefore(  nCloneTd.cloneNode( true ), this.childNodes[0] );
        } );

        /*
         * Initialse DataTables, with no sorting on the 'details' column
         */
        var oTable = $('#hidden-table-info').dataTable( {
            "aoColumnDefs": [
                { "bSortable": false, "aTargets": [ 0 ] }
            ],
            "aaSorting": [[1, 'asc']]
        });

        /* Add event listener for opening and closing details
         * Note that the indicator for showing which row is open is not controlled by DataTables,
         * rather it is done here
         */
        $('#hidden-table-info tbody td img').live('click', function () {
            var nTr = $(this).parents('tr')[0];
            if ( oTable.fnIsOpen(nTr) )
            {
                /* This row is already open - close it */
                this.src = "../resources/common/advanced-table/support/details_open.png";
                oTable.fnClose( nTr );
            }
            else
            {
                /* Open this row */
                this.src = "../resources/common/advanced-table/support/details_close.png";
                oTable.fnOpen( nTr, fnFormatDetails(oTable, nTr), 'details' );
            }
        } );




    } );


</script>


</body>