<!doctype html>
<head>
    <meta charset="utf-8">
    <title>搜索结果</title>
    <link rel="shotcut icon" href="/resources/favicon.ico">
    <link rel="stylesheet" media="screen" href="../resources/css/sidebar.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/global.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/header.css"></link>
    <link rel="stylesheet" media="screen" href="../resources/css/searchResult.css"></link>
    <!-- Bootstrap -->
    <link href="../resources/common/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/css/responsive.css" rel="stylesheet" />
    <link href="../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
    <!-- JQueryUI -->
    <link href="../resources/common/theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
    <!-- Main Theme Stylesheet :: CSS -->
    <link href="../resources/common/theme/css/style-light.css?1369753442" rel="stylesheet" />
    <!-- Uniform Pretty Checkboxes -->
    <link href="../resources/common/theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default.css" rel="stylesheet" />
    <script src="../resources/js/jquery-1.8.3.min.js"></script>
</head>
<body>
    #include("header.vm")
<div class="container0 clearfix">
    <ul class="menu">
        <li><a class="group" href="/index.html"><i></i><span>小组状态</span></a></li>
        <li class="active"><a class="search" href="/searchLiterature.html"><i></i><span>文献查询</span></a></li>
        <li><a class="add" href="/addLiterature.html"><i></i><span>文献录入</span></a></li>
        <li><a class="modify" href="/listLiterature.html"><i></i><span>文献修改</span></a></li>
        <li><a class="info" href="/profile.html"><i></i><span>个人信息</span></a></li>
    </ul>
    <div class="result_right">
        <div class="title">查询结果</div>
        <div class="result_main">
            <div class="total">共有$literatureList.size()个查询结果，耗时$cost秒</div>
            <ul>
                #foreach($literature in $literatureList)
                    <li>
                        <div class="name"><a href="/literatureDetail.html?id=$literature.id">$literature.literatureMeta.title</a></div>
                        <div class="author">$literature.literatureMeta.author - $literature.publisher.name, $literature.literatureMeta.published_year</div>
                        <div class="content">$literature.literatureMeta.literature_abstract</div>
                        <div class="info">关键词：$literature.literatureMeta.key_words</div>
                    </li>
                #end
            </ul>
        </div>
##        <div class="pagination pagination-centered margin-none">
##            <ul>
##                <li class="disabled"><a href="#">&laquo;</a></li>
##                <li class="active"><a href="#">1</a></li>
##                <li><a href="#">2</a></li>
##                <li><a href="#">3</a></li>
##                <li><a href="#">4</a></li>
##                <li><a href="#">5</a></li>
##                <li><a href="#">&raquo;</a></li>
##            </ul>
##        </div>
    </div>
</div>
</body>